{% extends "base.html" %}

{% block title %}Transactions{% endblock %}

{% block content %}
{% load bootstrap3 %}
{% bootstrap_css %}

<div class="container">
    <h1>Transactions</h1>
    <div ng-controller="mainController"> 
        <form class="form-inline">
          <div class="form-group">
            <label for="locality">Locality</label>
            <input class="form-control" id="locality" placeholder="Enter locality code" ng-model="locality">
          </div>
            <button type="submit" class="btn btn-primary" ng-click="updateCharts()">Search</button>
        </form>
        
        <hr>

        <h2>History</h2>
        <form class="form-inline">
          <div class="form-group">
            <label>From</label>
            <select ng-options="month.value as month.label for month in months" ng-model="historyFilters.from.month"></select>
            <select ng-options="year for year in years" ng-model="historyFilters.from.year"></select>
          </div>
          <div class="form-group">
            <label>To</label>
            <select ng-options="month.value as month.label for month in months" ng-model="historyFilters.to.month"></select>
            <select ng-options="year for year in years" ng-model="historyFilters.to.year"></select>
          </div>
        </form>

        <div id="history_chart"></div>


        <h2>Segmentation</h2>
        <form class="form-inline">
          <div class="form-group">
            <label>Pick Month</label>
            <select ng-options="month.value as month.label for month in months" ng-model="segmentationFilters.month"></select>
            <select ng-options="year for year in years" ng-model="segmentationFilters.year"></select>
          </div>
         </form>
        <div id="segmentation_chart"></div>
    </div>
</div>

{% endblock %}

